body {
  height: 100vh;
  width: 100vw;
  background-color: papayawhip;
  margin: 0;
  overflow: hidden;
}
h1 {
  margin: auto;
}
#main {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#header {
  display: flex;
}
.info {
  display: flex;
  margin: 20px;
}
.buttons {
  margin: 20px;
  display: flex;
}
.button {
  vertical-align: middle;
  margin: 0 5px;
  font-size: large;
}
canvas {
  flex: 1;
  margin: 0 20px;
  border: 2px solid indigo;
}
